@font-face {
  font-family: 'MuseoSlabFree';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/museo-slab-500.woff') format('woff'), url('../fonts/museo-slab-500.ttf') format('truetype');
}
